################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/Calc24/FileContentIndex/17251c18-2320-4ce8-8cf8-b405a648eed4.vsidx
/.vs/Calc24/FileContentIndex/5f8c1707-3c4e-4cc1-a3ed-1a3d0f57d11b.vsidx
/.vs/Calc24/FileContentIndex/67887b9c-8e64-479d-bbd6-f85fac88b077.vsidx
/.vs/Calc24/FileContentIndex/cc0251ee-b4c5-4ee9-b729-ff5d233a7313.vsidx
/.vs/Calc24/FileContentIndex/d84c8165-3b5b-46c7-a0f9-efbff4e90b1c.vsidx
